<div class="container">
    <div class="row">

        <div class="col-md-3 country"  *ngFor="let country of contries">
                <ul  >
                        <li>Name: {{ 
                                country.name}}</li>
                            
                            <li>Capital:{{ country.capital
                            }}</li>
                    <li>Region:{{ country.region
                    }}</li>
                    
                    <li>Subregion:{{country.subregion
                    }}</li>
                    
                    <li>Population:{{ country.population 
                    }}</li>
                    
                    <li>Area:{{ country.area
                    }}</li>
                    
                    <li>Tomezones:{{country.timezones|slice:0:2 }}</li>
                    
                    <li>Native name:{{ country.nativeName}}</li>
                    <a href="{{ country.flag}}" target="_blank"> <img src="{{ country.flag }}" alt="">
                    </a>
                
                </ul>   
        </div>
    </div>
</div>




