<div class="cointainer">
    <div class="row">

        <div class="col-md-2"  *ngFor="let country of contries">
                <ul  >
                        <li>{{ 
                                country.name}}</li>
                            
                            <li>{{ country.capital
                            }}</li>
                    <li>{{ country.region
                    }}</li>
                    
                    <li>{{country.subregion
                    }}</li>
                    
                    <li>{{ country.population 
                    }}</li>
                    
                    <li>{{ country.area
                    }}</li>
                    
                    <li>{{country.timezones
                    }}</li>
                    
                    <li>{{ country.nativeName}}</li>
                    
                    <li>{{ country.flag
                    }}</li>
                
                
                </ul>   
        </div>
    </div>
</div>
<p>country works!</p>



